.title {
    color: blue;
}

.links {
    color: red;
}

.intro {
    color: purple;
}

.main_heading {
    color: yellow;
}

.code {
    color: green;
}

.left_table {
    color: orange;
}

.right_table {
    color: pink;
}