.title {
    color: white;
    background-color: purple;
}

.links {
    color: white;
    background-color: black;
}

.intro {
    color: purple;
}

.main_heading {
    color: yellow;
}

.header2 {
    color: aqua
}

.code {
    color: green;
}

.left_table {
    color: orange;
}

.right_table {
    color: pink;
}